<!DOCTYPE html>
<html>
<head>
    <title>English dictionary</title>
</head>
<body>
    <h1>English dictionary</h1>
        <input type="text" name="word" placeholder="Enter a word" value="{{ word }}">
        <input type="submit" value="Search" onclick= "return ajax_search();">
    <p id='result_div'></p>
    {% if searching and not result: %}
    <p>No result found.</p>
    {% else %}
    <p>{{ result }}</p>
    {% endif %}
    <div id='demo'> 
    </div>
    <script>
    function ajax_search(){
       // var result_div = document.getElementById("result_div");
        //result_div.innerHTML = 'Hello Pentastagiu!'
        //return false;
        var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
           var result_div = document.getElementById("result_div");
           result_div.innerHTML =  this.responseText;
        }
      };
      xhttp.open("GET", "/ajax_search", true);
      xhttp.send();

    }
</script>
</body>
</html>